:root {
  --bg-Main: #fff;
  --bg-Second: #2b4162;
  --bg-Third: #aad2fc;
  --btn-Success: #34d6b3;
  --btn-Warning: #ba2c46;
}
#wrapperTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#wrapperOfAboutContent {
  width: 98%;
  height: 80vh;
  margin: 7rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../image/about.jpg);
  background-size: cover;
  border-radius: 1.5rem;
  box-shadow: 0 0.5px 5px gray;
}

#wrapperOfAboutText {
  position: absolute;
  width: 41%;
  text-align: justify;
  color: var(--bg-Second);
  margin: 0 -22% 0 0;
  line-height: 2rem;
}
