
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 color: #fff;
 display: flex;
 height : 100vh;
 justify-content: right;
 align-items: center;
 background: linear-gradient(235deg, #2b4162, #9fbbcc );
 padding: 320px;
}

.container{
    max-width: 800px;
    width: 100%;
    padding: 80px 70px;
    border-radius: 25px;
    background: linear-gradient(100deg, #34d6b3, #9fbbcc) ;
}

.container .heading{
    font-size: 27px;
    font-weight: 500;
    position:relative;
    text-align: center;
    padding: 0 0 50px 0;
}

.container form .Details{
    margin-top: 25px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

form .Details .box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.Details .box .details{
    display: block;
    margin-bottom: 5px;
}

.Details .box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-right: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .button{
    text-align: center;
}

form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background : #1F5F2A;
}

form .button input:hover{
    background: #32D04D ;
}



@media (max-width:584px) {
    .container {
        max-width: 100%;
    }

    form .Details .box {
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .Details {
        max-height: 300px;
        overflow: scroll;
    }

    .card-details::_webkit-scrollbar {
        width: 0;
    }

}
.container{
    margin-right: auto;
    margin-left: auto;
}